 main {
    margin-top: 10px;
    margin-left: 100px;
    margin-right: 100px;
} 


.accountBox {
    border-style: solid;
    border-width: thin;
    border-color: lightgray;
    border-radius: 10px;
    width: 35%;
    background-color: white;
    text-align: center;
    margin-top: 20px;
    padding-bottom: 20px;
    display: inline-block;
    vertical-align: top;
    margin: 10px;
    /* margin-left: 100px;
    margin-right: 100px;  */
}

#formAlign {
    text-align: center;
}

#greenDesk {
    width: 100%;
    border-radius: 10px;
}

#mapPic {
    width: 30%;
}

#planPic{
    width: 30%;
}

#studyPic{
    width: 30%;
}

.theme-card {
    margin: 50px;
}

.theme-card p {
    font-size: 1.5em;
}

.theme-card h2 {
    font-size: 2em;
}
#detailDiv{
    text-align: center;
    background-color: #ffffff;
    border-radius: 10px;
    padding-top: 15px;
    padding-bottom: 15px;

}

#aboutDiv{
    text-align: center;
    background-color: #282828;
    border: solid;
    border-color: #282828;
    border-radius: 10px;
    margin: 20px;
    color: white;
    padding: 50px;

}

#sloganDiv{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 35px;
    font-weight:bold;
    border-radius: 10px;
    text-align: center;
    margin: 20px;
    padding: 30px;
    border: solid;
    background-color: #282828;
    border-color: #282828;
    color: #ffffff;

}

#edu1 {
    color:#1390d8;
}

#edu2 {
    color:#1390d8;
}

#greenDesk {
    width: 100%;
    border-radius: 10px;
}
